<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<!--<suite name="All Test Suite">-->
<!--    <test name="/Users/">-->
<!--        <classes>-->
<!--            <class name="tests.SummaryTest"/>-->
<!--&lt;!&ndash;            <class name="tests.SubscriptionsTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.TopMenuTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.FooterMenuTest"/>&ndash;&gt;-->
<!--            <class name="tests.MainTest"/>-->
<!--&lt;!&ndash;            <class name="tests.WebPageTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.NewsTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.ImageTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.VideoTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.MusicTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.WhoWeAreTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.MediaEducationTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.CharityProjectTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.OurDatacenterTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.ContactUsTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.VpnPageTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.VpnInstructionsTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.EmailTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.SetAsStartTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.MakeDefaultSearchTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.DonationTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.PrivacyPolicyTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.ImprintTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="tests.AutobahnTest"/>&ndash;&gt;-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->